* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	font-size: 100%;
	line-height: 1;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	border-spacing: 0;
}

html {
	color: white;
	background: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

.container {
	padding: 10px;
}
